@tailwind base;
@tailwind components;
@tailwind utilities;
/* Назначаем картинку главным фоном для всего сайта */
body {
    background-image: url('/livetile/hex-bg.svg');
    background-size: 10%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #f6f4f0;
}

/* Принудительно делаем все промежуточные крупные блоки прозрачными */
#root, main, .app-container {
  background-color: transparent !important;
}
@media (max-width: 768px) {
  body {
    background-size: 33%; 
  }
}